.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    transform: translateX(-100%);
    /*translate move o elemento a partir de onde ele está. Eixo x (horizontal) e eixo y (vertical) . 100% pega a largura do elemento em si . Valores > 0 move para direita. Valores < 0 move para  a esquerda*/
    transition: transform 200ms linear;
    /* transition verifica uma transição, uma alteração numa propriedade ou em outras. Nesse caso, ele vai verificar a transform. 200ms é quanto tempo vai durar. linear é o comportamento, vai ser igual do começo ao fim*/

}

.menu_open {
    transform: translateX(0);/*padrao*/
}

.menu-item{
    border-bottom: 1px solid rgba(116, 124, 129 , 0.8) ; /* a de alpha é a tranparência (0.8)*/
    padding: 20px 15px; /*top/bottom e left/rigth*/
    background-color: #fff;
    margin-top: 0;

}

.menu-item-action {
    color: #0072f4;
    text-decoration: none; /*tira underline e todas as formatações padrão*/
    text-transform: uppercase;/*texto em caixa alta*/
    font-size: 12px;
}