*{
    font-family: 'Barlow', sans-serif;
}



body{
    background-image: url("../img/paginaPrincipal.jpeg");
    background-size: cover;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}

body#second{
    background-image: url("../img/fundo-paginas.jpeg") !important;
}
h1 {
    padding-top: 40px!important;
    padding-bottom: 25px!important;
    text-align: center;
}
h2{
    padding-bottom: 15px;
    text-align: center;

}
p {
    text-align: justify;
}