*{
    font-family: 'Barlow', sans-serif;
}



body{
    background-image: url("../img/paginaPrincipal.jpeg");
    background-size: cover;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}

body#second{
    background-image: url("../img/fundo-paginas.jpeg") !important;
}
h1 {
    padding-top: 40px!important;
    padding-bottom: 25px!important;
    text-align: center;
}
h2{
    padding-bottom: 15px;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

#logo{
    margin-top: 10px;
    margin-left: 10px;
}

  
#TabelaPDF{
    
    margin: auto;
    width: 50% !important; 
    margin-bottom: 10% !important;
     }

 a:hover{
    text-decoration: underline;
    color: white;
 }

   
@media only screen and (max-width: 1199px) {
    ul {
      background-color: rgba(82, 79, 79, 0.37);
    }


    a:hover{
        text-decoration: underline;
        color: white;
     }
    

    p {
        text-align: justify;
    }

    
}
