*{
    font-family: 'Barlow', sans-serif;
    margin-top: 5px;
}



body{
    background-image: url("../img/paginaPrincipal.jpeg");
    background-size: cover;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Barlow', sans-serif;
}

body#second{
    background-image: url("../img/fundo-paginas.jpeg") !important;
}
h1, h2 {
    padding-top: 20px!important;
    padding-bottom: 20px;

}

